<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DayPlanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16C677452389D4A900DEC9DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16C6775B2389D4AA00DEC9DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16C677662389D4AA00DEC9DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
